<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Gastos Comunes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Bienvenido a la Gestión de Gastos Comunes</h1>
    <ul>
        <li><a href="/gastos/pendientes">Ver Gastos Pendientes</a></li>
        <li><a href="/gastos/generar">Generar Gastos Comunes</a></li>
        <li><a href="/gastos/pagar">Registrar un Pago</a></li>
    </ul>
</body>
</html>